<%= form_with(model: @user, local: true, url: sign_up_url) do |form| %>

<div class="sign-up-form">
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>
</div>

<div class="sign-up-form">
  <%= form.label :last_name %>
  <%= form.text_field :last_name %>
</div>

<div class="sign-up-form">
  <%= form.label :email %>
  <%= form.text_field :email %>
</div>

<div class="sign-up-form">
  <%= form.label :password %>
  <%= form.password_field :password %>
</div>

<div class="sign-up-form">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
</div>

<div class="sign-up-form">
  <%= form.label :profile_photo %>
  <%= form.file_field :profile_photo %>
</div>

<div class="sign-up-form">
  <%= form.submit 'Sign Up' %>
</div>

<% end %>