<div class="container">
  <div class="row justify-content-center vh-100 align-content-center">
    <div class="col-12 col-md-6">
      <div class="m-3 text-center" >

        <h1>Create an Acebook account</h1>

        <%= form_with(model: @user, local: true, url: sign_up_url) do |form| %>

        <div class="sign-up-form">
          <%= form.label :first_name, class: "form-label" %>
          <%= form.text_field :first_name, class: "form-control my-2" %>
        </div>

        <div class="sign-up-form">
          <%= form.label :last_name, class: "form-label" %>
          <%= form.text_field :last_name, class: "form-control my-2" %>
        </div>

        <div class="sign-up-form">
          <%= form.label :email, class: "form-label" %>
          <%= form.text_field :email, class: "form-control my-2" %>
        </div>

        <div class="sign-up-form">
          <%= form.label :password, class: "form-label" %>
          <%= form.password_field :password, class: "form-control my-2" %>
        </div>

        <div class="sign-up-form">
          <%= form.label :password_confirmation, class: "form-label" %>
          <%= form.password_field :password_confirmation, class: "form-control my-2" %>
        </div>

        <div class="sign-up-form">
          <%= form.label :profile_photo, class: "form-label" %>
          <%= form.file_field :profile_photo, class: "form-control my-2" %>
        </div>

        <div class="sign-up-form">
          <%= form.submit "Sign Up", class: "btn btn-dark m-2" %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
