<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Acebook <i class="far fa-hand-peace"></i></a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
        </li>
      </ul> 

      <% if Current.user %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="nav-link active">
            <%= image_tag Current.user.display_profile_photo, class: "nav_avatar" %>
            <%= Current.user.first_name %> <%= Current.user.last_name %>
          </div>
        </li>
      </ul>
        <%= button_to("Log Out", log_out_path, method: "delete", class: "btn btn-outline-light mx-2") %>
      <% else %>
        <%= button_to("Register", sign_up_path, method: "get", class: "btn btn-outline-light mx-2") %>
        <%= button_to("Sign In", sign_in_path, method: "get", class: "btn btn-outline-light mx-2") %>
      <% end %>
  </div>
</nav>
