<% if Current.user %>
  <p>
    <strong>Likes:</strong>
    <%= post.likes.count %> <%= (post.likes.count) == 1 ? "Like" : "Likes" %>
  </p>
  <% like_exists = post.likes.find { |like| like.user_id == session[:user_id] } %>
    <% if like_exists %>
      <%= link_to fa_icon("thumbs-down"), post_like_path(post, like_exists), method: :delete, class: "btn btn-dark" %>
    <% else %>
      <%= link_to fa_icon("thumbs-up"), post_likes_path(post), method: :post, class: "btn btn-dark" %>
    <% end %>

  <% if Current.user == post.user %>
    <%= link_to fa_icon("pencil-alt"), edit_post_path(post), class: "btn btn-primary" %>
    <%= link_to fa_icon("trash-alt"), post, method: :delete, data: { confirm: "Are you sure?" }, id: "btnDelete", class: "btn btn-danger" %>
  <% end %>
 
<% end %>
