<div class="d-flex justify-content-left">
  <div class="border border-secondary my-3 rounded-3 p-4 d-flex" style="width: 100%" id="commentCard">
    <%= render "display-comments", post: post %>

    <% unless post.comments.empty? %>
      <hr>
    <% end %>
    <div class="container">
      <div class="row">
        <div class="col">
          <% unless post.comments.empty? %>

          <a class="text-primary" data-bs-toggle="modal" data-bs-target="#commentModal_<%= post.id %>">Read all comments [<%= post.comments.count %>]</a>

          <div class="modal fade" id="commentModal_<%= post.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog modal-dialog-scrollable">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="staticBackdropLabel">All Comments</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
               </div>
               <div class="modal-footer d-flex justify-content-center">        
                <%= form_for([post, Comment.new], remote: true) do |f| %>
                  <%= f.text_field :comment_text, placeholder: "Add a comment", label: false %>
                  <%= f.submit "Post Comment", class: "btn btn-dark", id: "post-submit", role: "status", remote: true %>
                <% end %>
               </div>
               <div class="modal-body">
                <%= render "display-all-comments", post: post %>
               </div>
             </div>
           </div>
         </div>
          <% else %>
          <div class="d-flex">
            <div class="col-3">
              <p>No comments yet!</p>
            </div>
            <div class="col-9">
            <%= form_for([post, Comment.new], remote: true) do |f| %>
              <%= f.text_field :comment_text, placeholder: "Add a comment", label: false %>
              <%= f.submit "Post Comment", class: "btn btn-dark", id: "post-submit", role: "status", remote: true %>
            <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
