<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col text-center m-3">
        <div class="field">
          <%= form.text_field :message, class: "form-control" %>
        </div>
      </br>
      <div class="field">
        <%= form.label :upload_Image %>
        <%= form.file_field :pictures, multiple: true, class: "btn btn-light" %>
      </div>
    </br>
    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
</div>
</div>
<% end %>
