<div class="container">
  <div class="row">
    <div class="col text-center m-3">
        <%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
        
    <% @posts.each do |post| %>

    <div class="card">
      <div class="card-body">
        <%= post.message %>
        <%= post.likes_count %>
        <%= post.image_url %>
        <%= link_to "Show", post %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Destroy", post, method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div> 
  <% end %>

    </div>
  </div>
</div>
