<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @post.likes_count %>
</p>

<p>
  <strong>Image:</strong>

  <% (@post.pictures).each do |picture| %>
      <%= image_tag picture, style: "width: 400px;" %>
  <% end %>
</p>

<p>
  <strong>Comments</strong>

  <% @comments.each do |c| %>
     <h1> <%= c.comment_text %> </h1>
  <% end %>
  
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Add Comment', new_comment_path(post_id: @post.id) %>

