<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @post.message %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @post.likes_count %>
  <br>
  <strong> User was created on:</strong>
  <%= @post.user.created_at %>
</p>

<p>
  <strong>Image:</strong>

  <% (0...@post.pictures.count).each do |picture| %>
      <%= image_tag @post.pictures[picture], style: "width: 400px;" %>
  <% end %>
</p>

<%= link_to "Edit", edit_post_path(@post) %> |
<%= link_to "Back", posts_path %>
